@import "tailwindcss";

:root {
  --royal-purple: #1a0d45;
  --deep-purple: #2a1660;
  --gold: #f5e199;
  --gold-mid: #c9a84c;
  --gold-dark: #b8922a;
}

body {
  background-color: var(--royal-purple);
  color: var(--gold);
}